extends layout

block content
 .container
      .row
        each Aldea in dataVillages
          .col-md-4.col-sm-6.col-xs-12
            .panel.panel-primary
              .panel-heading Aldea #{Aldea.Aldea}
              .panel-body
                table
                  tr
                    td
                      img(src='/images/Gold_Storage11.png',width='80', height='80')
                    td(style='width:80%')
                      .progress
                        .progress-bar.progress-bar-success(style='width: #{Aldea.PctOro}%')
                      .label.label-default(vertical-align: top) #{Aldea.Oro}
                      &#32;
                      .label.label-info(vertical-align: top) #{Aldea.OroXhora}
                  tr
                    td
                      img(src='/images/Elixir_Storage11.png',width='80', height='80')
                    td
                      .progress
                        .progress-bar.progress-bar-success(style='width: #{Aldea.PctElixir}%')
                      .label.label-default(vertical-align: top) #{Aldea.Elixir}
                      &#32;
                      .label.label-info(vertical-align: top) #{Aldea.ElixirXhora}
                  tr
                    td
                      img(src='/images/Dark_Elixir_Storage6.png',width='80', height='80')
                    td
                      .progress
                        .progress-bar.progress-bar-success(style='width: #{Aldea.PctOscuro}%')
                      .label.label-default(vertical-align: top) #{Aldea.Oscuro}
                      &#32;
                      .label.label-info(vertical-align: top) #{Aldea.OscuroXhora}
                table
                    tr
                      td(style='width:20%')
                        br
                        img(src='/images/Builder.png',width='50', height='50')
                        br
                        .label.label-danger #{Aldea.Constructores} Libres
                      td(style='width:100%', align='center',valign='bottom')
                        br
                        center
                        img(src='/images/Trophy.png',width='40', height='40')
                        br
                        .label.label-danger #{Aldea.Copas}
                      td(style='width:20%',align='right')
                        br
                        br
                        img(src='/images/gems_big_icon.png',width='30', height='30')
                        br
                        .label.label-danger #{Aldea.Gemas}
                    
              .panel-footer
                table
                  tr
                    td(style='width:100%')
                      case Aldea.Status
                        when 1
                          img(src='/images/start.jpg',width='30', height='30')
                        when 0
                          img(src='/images/stop.jpg',width='30', height='30')
                        when 2
                          img(src='/images/pause.jpg',width='30', height='30')
                    td(align='right')
                        .label.label-info Last Updated: #{Aldea.Timestamp}
